.module {
  &__title {
    text-align: center;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    text-decoration: underline;
    color: #fff;
  }
  &__controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    i {
      font-size: 1.5rem;
    }
  }
  &__content {
    figcaption {
      font-size: 1.2rem;
    }
    &__description {
      margin: auto 0;
      font-size: 2rem;
    }
  }
}
