.nav {
  position: relative;
  width: 100%;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06);
  background: linear-gradient(90deg, rgba(46,186,121,1) 0%, rgba(16,122,139,0.675490264465161) 58%, rgba(16,122,139,0.4457983877144608) 100%);
  .navbar {
    width: 100%;
    .navbar-brand {
      @include fuente($fuente-logo);
      font-size: 2.7rem;
      @include grow();
    }
    .nav-link {
      @include fuente($fuente-titulo);
      @include grow();
      margin: 0 12px;
    }
    a:hover {
      text-decoration: underline !important;
    }
  }
  @media screen and (max-width: 992px) {
    .navbar-collapse {
      background-color: fade-out($color: $secondary, $amount: 0.2);
      margin: 0;
      padding: 5%;
      border-radius: 10px;
    }
  }
}
