.certs {
  margin-top: 70px;
  &__careers {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  &__card {
    @include grow();
    min-width: 200px;
    max-width: 350px;
    max-height: 220px;
  }
}
